<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.proj.web.dao.MemberMapper">
	<insert id="crawler" parameterType="memberVO">
		insert into
			place(
			title
			,teleNum
			,address
			,time
			,menu
			,category
			)values(
			#{title}
			,#{teleNum}
			,#{address}
			,#{time}
			,#{menu}
			,#{category}
		)
	</insert>	
	
	<insert id="crawler2" parameterType="hrefVO">
	INSERT INTO
		LINK(
		TITLE
		,LINK
		)VALUES(
		#{title}
		,#{link}
		)
	</insert>
</mapper>
